@model one.Service.MenuTree

<style>
    .td-1, .td-2 {
        float:left;
        width:360px;

    }

    .k-edit-field {
        width:auto;
    }


    #oneGridPopwinWrap {
        width:838px;
    }

</style>


<div id="oneGridPopwinWrap">

    <div class="td-1">
        <div class="k-edit-label">
            @(Html.LabelFor(a => a.ParentId))
        </div>

        <div data-container-for="ParentId" class="k-edit-field">
            @(Html.Kendo().IntegerTextBoxFor(a => a.ParentId))
        </div>



        <div class="k-edit-label">
            @(Html.LabelFor(a => a.FuncCaption))
        </div>
        <div data-container-for="FuncCaption" class="k-edit-field">
            @(Html.TextBoxFor(a => a.FuncCaption, new { @class = "k-textbox" }))
        </div>



        <div class="k-edit-label">
            @(Html.LabelFor(a => a.FuncDescribe))
        </div>
        <div data-container-for="FuncDescribe" class="k-edit-field">
            @(Html.TextBoxFor(a => a.FuncDescribe, new { @class = "k-textbox" }))
        </div>


        <div class="k-edit-label">
            @(Html.LabelFor(a => a.FuncTitle))
        </div>
        <div data-container-for="FuncTitle" class="k-edit-field">
            @(Html.TextBoxFor(a => a.FuncTitle, new { @class = "k-textbox" }))
        </div>



        <div class="k-edit-label">
            @(Html.LabelFor(a => a.Area))
        </div>
        <div data-container-for="Area" class="k-edit-field">
            @(Html.TextBoxFor(a => a.Area, new { @class = "k-textbox" }))
        </div>

        <div class="k-edit-label">
            @(Html.LabelFor(a => a.Controller))
        </div>
        <div data-container-for="Controller" class="k-edit-field">
            @(Html.TextBoxFor(a => a.Controller, new { @class = "k-textbox" }))
        </div>

        <div class="k-edit-label">
            @(Html.LabelFor(a => a.FuncTitle))
        </div>
        <div data-container-for="FuncTitle" class="k-edit-field">
            @(Html.TextBoxFor(a => a.FuncTitle, new { @class = "k-textbox" }))
        </div>
    </div>

    <div class="td-2">
        <div class="k-edit-label">
            @(Html.LabelFor(a => a.Action))
        </div>
        <div data-container-for="Action" class="k-edit-field">
            @(Html.TextBoxFor(a => a.Action, new { @class = "k-textbox" }))
        </div>


        <div class="k-edit-label">
            @(Html.LabelFor(a => a.DefaultParam))
        </div>
        <div data-container-for="DefaultParam" class="k-edit-field">
            @(Html.TextBoxFor(a => a.DefaultParam, new { @class = "k-textbox" }))
        </div>


        <div class="k-edit-label">
            @(Html.LabelFor(a => a.ModuleId))
        </div>
        <div data-container-for="ModuleName" class="k-edit-field">
            @(Html.EditorFor(m => m.ModuleId))  
        </div>


        <div class="k-edit-label">
            @(Html.LabelFor(a => a.RequestType))
        </div>
        <div data-container-for="RequestType" class="k-edit-field">
            @(Html.EditorFor(m => m.RequestType))
        </div>


        <div class="k-edit-label">
            @(Html.LabelFor(a => a.FuncTypeId))
        </div>
        <div data-container-for="State" class="k-edit-field">
            @(Html.EditorFor(a => a.FuncTypeId))
        </div>


        <div class="k-edit-label">
            @(Html.LabelFor(a => a.SortNo))
        </div>
        <div data-container-for="SortNo" class="k-edit-field">
            @(Html.TextBoxFor(a => a.SortNo, new { @class = "k-textbox" }))
        </div>


     


        <div class="k-edit-label">
            @(Html.LabelFor(a => a.ImgSrc))
        </div>
        <div data-container-for="ImgSrc" class="k-edit-field">
            @(Html.TextBoxFor(a => a.ImgSrc, new { @class = "k-textbox" }))
        </div>
    </div>


    @*<table style="width:100%;">
        <colgroup>
            <col width="45%" />
            <col width="10%" />
            <col width="45%" />
        </colgroup>
        <tbody>
            <tr>
                <td>

                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.ParentId))
                    </div>

                    <div data-container-for="ParentId" class="k-edit-field">
                        @(Html.Kendo().IntegerTextBoxFor(a => a.ParentId))
                    </div>



                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.FuncCaption))
                    </div>
                    <div data-container-for="FuncCaption" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.FuncCaption, new { @class = "k-textbox" }))
                    </div>



                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.FuncDescribe))
                    </div>
                    <div data-container-for="FuncDescribe" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.FuncDescribe, new { @class = "k-textbox" }))
                    </div>


                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.FuncTitle))
                    </div>
                    <div data-container-for="FuncTitle" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.FuncTitle, new { @class = "k-textbox" }))
                    </div>



                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.Area))
                    </div>
                    <div data-container-for="Area" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.Area, new { @class = "k-textbox" }))
                    </div>

                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.Controller))
                    </div>
                    <div data-container-for="Controller" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.Controller, new { @class = "k-textbox" }))
                    </div>

                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.FuncTitle))
                    </div>
                    <div data-container-for="FuncTitle" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.FuncTitle, new { @class = "k-textbox" }))
                    </div>

                </td>
                <td>

                </td>
                <td>

                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.Action))
                    </div>
                    <div data-container-for="Action" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.Action, new { @class = "k-textbox" }))
                    </div>


                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.DefaultParam))
                    </div>
                    <div data-container-for="DefaultParam" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.DefaultParam, new { @class = "k-textbox" }))
                    </div>


                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.ModuleName))
                    </div>
                    <div data-container-for="ModuleName" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.ModuleName, new { @class = "k-textbox" }))
                    </div>


                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.RequestType))
                    </div>
                    <div data-container-for="RequestType" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.RequestType, new { @class = "k-textbox" }))
                    </div>


                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.SortNo))
                    </div>
                    <div data-container-for="SortNo" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.SortNo, new { @class = "k-textbox" }))
                    </div>


                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.State))
                    </div>
                    <div data-container-for="State" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.State, new { @class = "k-textbox" }))
                    </div>


                    <div class="k-edit-label">
                        @(Html.LabelFor(a => a.ImgSrc))
                    </div>
                    <div data-container-for="ImgSrc" class="k-edit-field">
                        @(Html.TextBoxFor(a => a.ImgSrc, new { @class = "k-textbox" }))
                    </div>


                </td>

            </tr>
        </tbody>
    </table>*@






</div>




