@model one.OneDot.ViewModels.ChangePasswordViewModel

<form class="form-horizontal" method="post" action="@(Url.Action("ChangePassword3","manage",new { Area = string.Empty}, Request.Url.Scheme))">

    @Html.AntiForgeryToken()

    <div class="form-group" style="min-height:2em;">
        <label for="OldPassword" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            @Html.OneValidationSummary()
        </div>
    </div>


    <div class="form-group">
        <label for="OldPassword" class="col-sm-2 control-label">@Lang.OldPassword</label>
        <div class="col-sm-10">
            @*<input type="password" class="form-control k-textbox" id="OldPassword" name="OldPassword" placeholder="@Lang.OldPassword">*@
            @Html.TextBoxFor(s => s.OldPassword, new { type = "password", @class = "form-control", placeholder = Lang.OldPassword })
            <span class="k-invalid-msg" data-for="OldPassword"></span>
        </div>
    </div>


    <div class="form-group">
        <label for="NewPassword" class="col-sm-2 control-label">@Lang.NewPassword</label>
        <div class="col-sm-10">
            @*<input type="Password" class="form-control k-textbox" id="NewPassword" name="NewPassword" placeholder="@Lang.NewPassword">*@

            @Html.TextBoxFor(s => s.NewPassword, new { type = "password", @class = "form-control", placeholder = Lang.NewPassword })

            <span class="k-invalid-msg" data-for="NewPassword"></span>
        </div>
    </div>


    <div class="form-group">
        <label for="ConfirmPassword" class="col-sm-2 control-label">@Lang.ConfirmPassword</label>
        <div class="col-sm-10">
            @*<input type="password" class="form-control k-textbox" id="ConfirmPassword" name="ConfirmPassword" placeholder="@Lang.ConfirmPassword">*@
            @Html.TextBoxFor(s => s.ConfirmPassword, new { type = "password", @class = "form-control", placeholder = Lang.ConfirmPassword })

            <span class="k-invalid-msg" data-for="ConfirmPassword"></span>
        </div>

    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn k-button btn-normal one-form-button">
                <i class="icon-save"></i>
                @Lang.Btn_Save
            </button>
        </div>
    </div>


</form>
